workflows/Backup workflows to git repository.json
{"updatedAt":"2025-12-16T21:56:39.757Z","createdAt":"2025-12-16T21:49:20.406Z","id":"HoEOBHkC6qAi79fk","name":"Backup workflows to git repository","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"12fa69d3-f4c0-4fa2-ab07-cc2397a57aab","name":"GitHub","type":"n8n-nodes-base.github","position":[288,144],"typeVersion":1,"alwaysOutputData":true,"webhookId":"d8db7f41-6499-45ef-a80e-01ff9299a84c","credentials":{"githubApi":{"id":"zrdM0cgRk9IF3Z0m","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"PaperC0re"},{"name":"repo.name","value":"AgentWorkflows"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"c34205a5-e305-49d0-bc33-c06e27c37b72","name":"Globals","type":"n8n-nodes-base.set","position":[-416,64],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"67665406-37fa-437a-84d3-bc58507c0626","name":"n8n","type":"n8n-nodes-base.n8n","position":[-176,64],"typeVersion":1,"credentials":{"n8nApi":{"id":"kLHyI99sm6c5UDHj","name":"n8n account"}}},{"parameters":{"options":{}},"id":"f3639462-de9b-46a2-87b4-09aab5a9d262","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[48,64],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"b12e717d-f76a-4bfe-9f81-c8606a9ed279","name":"If","type":"n8n-nodes-base.if","position":[480,144],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"2935b495-8054-4213-9408-046a38991b17","name":"If1","type":"n8n-nodes-base.if","position":[1360,416],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"e66adc44-65b1-485b-9883-f90961394403","name":"Code","type":"n8n-nodes-base.code","position":[1040,112],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"014163c6-4658-432b-8331-f0f8efa5b440","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[672,304],"typeVersion":1,"webhookId":"316679ba-dd06-4e79-b35c-58efe7e05b9f","credentials":{"githubApi":{"id":"zrdM0cgRk9IF3Z0m","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"ba3d49c1-864e-4aea-8e97-6a2eca5a95c4","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1728,624],"typeVersion":1,"webhookId":"746868e5-d88a-4a4b-ab12-3cfd52bcda37","credentials":{"githubApi":{"id":"zrdM0cgRk9IF3Z0m","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"c718a8ea-6aea-460d-8c9f-1cbd55e4946b","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-640,64],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"14f21a0c-4416-446a-b7d2-567e4cd30800","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1888,640],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"866d4e05-3d22-48c8-babd-44e373b689cd","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1504,416],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"9c57057a-baaa-471f-83aa-0e6bee95ab5e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[784,320],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"66d835f8-9ea7-4639-999d-e33f4bb10172","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[480,32],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"f39de23d-9ca0-453f-be1e-f6ee93d3fa42","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[992,16],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"e08322a8-195b-4244-abb0-b8fbd7f8bd79","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-240,-48],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"914d7c45-8ff9-4d1f-b7e1-f59d2834a845","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-496,192],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1e27765f-5be8-4eee-87d7-762f8e5c459c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2025-12-16T21:49:20.408Z","createdAt":"2025-12-16T21:49:20.408Z","role":"workflow:owner","workflowId":"HoEOBHkC6qAi79fk","projectId":"eOLlyeWyG1vSm2sy"}],"activeVersion":null,"tags":[]}